# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
pubspec.lock
**/doc/api/
**/ios/Flutter/.last_build_id
app.*.symbols
app.*.map.json

# Android
/android/app/debug
/android/app/profile
/android/app/release

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Tizen
_tizen/.sign/
_tizen/author-signature.xml
_tizen/certs/**
_tizen/signature1.xml
_tizen/workspace/**
_tizen/Debug/**
*.wgt

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# OS
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# Misc
*.log
*.class
*.pyc
.env
.env.local
.history
.svn/
.atom/
migrate_working_dir/
